.modalDialog {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

/* .modalDialog {
    width: 900px;
} */

.modalDialog>div {
    width: 400px;
    position: absolute;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(224, 223, 223);
    margin-left: 27%;
    margin-top: 2%;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: white;
}

#product{
    height: 45px;
}
#success_message{
    width: 1013px;
    margin-left: 22px;
}
#search {
    margin-top: 20px;
    margin-bottom: 10px;
} 

.awesome{
    margin-left: -20px !important;
}

#add_rule {
    /* margin-top: 10px !important; 
    float: right;
    margin-right: 22px !important; */
    margin-left: 911px;
    margin-bottom: 10px;
}

.deletebtn{
margin-left: 31px;
}

.edit{
    margin-left: -13px;
    position: absolute !important;
    }

.save_rule {
    margin-left: 765px !important;
    margin-top: 10px !important;
}

.cancel_course {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
}

.update_rule {
    margin-top: 10px !important;
    float: right;
    margin-right: 21px !important;
}

.select2-selection--multiple {
    margin-top: 12px;
    height: 3.4rem;
    width: 661px !important;
    /* border: #c4cdd5 !important; */
}

.select2-selection__choice__remove {
    min-height: 2rem !important;
}

.select2-dropdown .select2-dropdown--below {
    width: 661px;
}

.select2-selection__choice__display{
    margin-left: 15px !important;
}

/* .select2-selection{
    margin-left: 40px;
} */

#quick_align{
    margin-left: 133px;
}


.loader{
    background: rgb(255, 255, 255);
    opacity: 0.9;
    z-index: 99999;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .loader:target {
      opacity: 1;
  }
   */
  .loader div{
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
  }
  
  @keyframes loader{
    100%{
      height: 64px;
    }
  }
  
  .loader div:nth-child(1){
    background: #FF9F1A;
    animation-delay: -0.40s;
  }
  
  .loader div:nth-child(2){
    background: #FED330;
    animation-delay: -0.20s;
  }
  
  .loader div:nth-child(3){
    background: #FFFA65;
    animation-delay: 0s;
  }
  
  .loader:target {
    opacity: 1;
    pointer-events: auto;
}